# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
env/
ENV/
.venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Data files
data/
*.csv
*.json
*.h5
